/**************/
/* GENERAL */
/**************/

:root {
  --colour-text: #333;
  --colour-text-secondary: #4e4e4e;
  --colour-background: #f4f4f4;
  --max-width: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* Percentage of user's font-size setting */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open-Sans", Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--colour-text);
}

header {
  font-size: 1.8em;
  font-weight: 400;
  color: inherit;
  text-align: center;
}

/************/
/* Grid */
/************/

.grid {
  max-width: var(--max-width);
  margin: 0 auto;
}

@media screen and (min-width: 20em) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    gap: 3rem;
    grid-template-areas:
      "navbar"
      "main";
  }
}

@media screen and (min-width: 48em) {
  .grid {
    display: grid;
    grid-template-columns: minmax(30rem, 1fr) minmax(0, 3fr);
    grid-gap: 3rem;
    gap: 3rem;
    grid-template-areas: "navbar main";
  }
}

/**************/
/* NAVIGATION */
/**************/
.grid .main,
.grid .navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.navbar {
  color: var(--colour-text-secondary);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: auto;
}

/* 769px */
@media screen and (min-width: 48em) {
  .navbar {
    grid-area: navbar;
    align-self: start;
    height: 100vh;
    border-right: solid #adadad;
  }
}

/* 320px */
@media screen and (max-width: 48em) {
  .navbar {
    height: 50vh;
    border-bottom: solid #adadad;
    background-color: var(--colour-background);
  }
}

.navbar .heading-primary {
  margin: 1rem 0;
}

.navbar .nav-links {
  list-style: none;
  height: 88%;
  overflow-y: scroll;
}

.link {
  border-top: 1px solid black;
  width: 100%;
}

.nav-link {
  display: block;
  padding: 1rem 3rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:active {
  transform: translateY(1px);
  background-color: #fafafa;
}

/**************/
/* MAIN DOCUMENT */
/**************/

@media screen and (max-width: 48em) {
  .main {
    padding: 0 1rem;
  }
}

.main {
  grid-area: main;
  gap: 4rem;
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.main .heading {
  text-align: left;
}

section article {
  margin: 1.5rem;
  font-size: 0.96em;
}

section p {
  margin: 1.5rem;
}

code {
  display: block;
  background-color: var(--colour-background);
  font-family: "Roboto Mono", monospace;
  font-size: 1.4rem;
  line-height: 2;
  text-align: left;
  white-space: pre-line;
  padding: 1rem 4rem;
  border-radius: 5px;
  margin-bottom: 5px;
}

section ul {
  margin: 00.5rem;
  padding: 0 2rem;
}

section li {
  margin: 1.5rem 0 0 2rem;
}

/**************/
/* FOOTER */
/**************/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10rem;
  padding: 4rem;
  background-color: var(--colour-background);
}

.footer a,
.reference {
  text-decoration: none;
  color: cornflowerblue;
  /* border-bottom: 1px solid inherit; */
}

.footer a:hover,
.reference:hover {
  border-bottom: 1px solid;
}
